### 02_summary
- jupyter notebook
    - mode : 명령모드, 편집모드
    - style : markdown, code
    - 단축키
        - 실행 : shift + enter
        - 현재 셀 계속 실행 : ctrl + enter
        - 자동완성 : tab
        - docstring 보기 : shift + tab
        - 주석설정 : ctrl + /
        - 셀 생성 : a(위), b(아래)
- python 기본 문법
    - 변수 선언 : RAM 저장공간에 값을 할당하는 행위
    - 식별자 규칙
        - 대문자, 소문자, 숫자, ...
        - 가장 앞글자 숫자사용 불가
        - 예약어 사용 불가 : def, class, try, ...
        - snake_case(변수, 함수), CamelCase(클래스)
        - pep8 문서 참조
    - 데이터 타입
        - 동적타이핑 : 자동으로 저장공간의 데이터 타입이 설정됨
        - 기본 데이터 타입 : int, float, bool, str
        - 컬렉션 데이터 타입 : list, tuple(iterable = 순서가 있는 데이터 집합), dict
        - offset index : 특정 위치의 데이터를 출력할 때 사용
            - iterable한 데이터 타입에서만 사용이 가능
            - [] : mask, masking
            - [idx] : idx 위치 데이터를 출력
            - [start:end] : start에서 end까지 출력(end는 포함되지 않음)
            - [start:end:stride] : stride만큼씩 점프하여 출력
        - 각 데이터 타입별로 함수가 있음
    - 형변환
        - 이미 변수에 설정된 데이터 타입을 변경하는 행위
        - zip()
            - 여러개의 리스트를 같은 인덱스끼리 묶어주는 함수
            - 두 개의 list를 묶어서 dict로 형변환
    - 연산자
        - 산술 : +, -, *, /, //, %, **
        - 할당 : A (산술)= (data)
        - 비교 : <, >, ==, !=, <=, >=
        - 논리 : and, or, not
        - 멤버 : in, not in

### 1. 조건문
- 특정 조건에 따라서 코드를 실행하고자 할때 사용
- if, else, elif

In [1]:
# 조건부분에 : bool 데이터 타입 이외의 데이터 타입이 오면 bool으로 형변환되어 판단

if False:
    print("python")
# 다른 언어들은 괄호 {}를 사용하지만, python에선 안써도 된다. 대신 indent를 잘 지켜야 한다.
    
print("done")

done

In [2]:
# int : 0을 제외한 나머지 값은 True
bool(0), bool(1), bool(-1), bool(100)

(False, True, True, True)

In [3]:
num = 0

if num:
    print("python_1")

num = 1

if num:
    print("python_2")

python_2

In [4]:
number = 7

if number % 2:
    print("홀수")

홀수

In [5]:
# float : 0.0을 제외한 나머지 실수는 True
# str : ""을 제외한 나머지 문자열은 True
# list, tuple, dict : [], (), {}룰 제외한 나머지는 True

#### 조건문 문제1 :
- 지갑에 돈이 10000원 이상 있으면 택시를 탄다
- 2000원 이상, 10000원 미만이면 버스를 탄다
- 그렇지 않으면 걸어서 집에 간다.

In [7]:
money = 12000

if money >= 10000:
    print("택시를 타고 집에 갑니다.")

if money <10000:
    print("걸어서 집에 갑니다.") # 굳이 if를 계속 반복할 필요가 없다

택시를 타고 집에 갑니다.

In [9]:
if money >= 10000:
    print("택시를 타고 집에 갑니다.")
elif money >= 2000:
    print("버스를 타고 집에 갑니다.")
else:
    print("걸어서 집에 갑니다.")

택시를 타고 집에 갑니다.

#### 조건문 문제2 :
- 계좌에 10000원이 들어 있습니다.
- 인출 금액을 입력 받습니다.
- 인출 금액이 계좌에 있는 금액보다 크면 "인출이 불가능합니다." 출력
- 인출 금액이 계좌에 있는 금액보다 작으면 "인출 되었습니다," 출력
- 마지막에 핸재 계좌의 잔액을 출력

In [21]:
# 내 풀이
data = input("draw money : ")
money = 10000 - int(data)

if mon <= 0:
    print("인출이 불가능합니다.")
else:
    print("인출 되었습니다.")
    
print("현재 잔액은",money,"원 입니다.") 

# print()에서 (,)와 (+)의 기능은 같다. 
# 그런데 (,)는 형변환을 안해도 print 함수가 작동하는 반면, (+)는 error를 일으키므로 "형변환"을 꼭 해야만 한다

draw money : 4000
인출 되었습니다.
현재 잔액은 6000 원 입니다.

In [18]:
# 풀이
account = 10000
draw_money = int(input("insert draw money : "))

if account >= draw_money:
    account -= draw_money
    print(str(draw_money) + "원이 인출 되었습니다.")
else:
    print("인출이 불가능합니다. " + str(draw_money - account) + "원의 잔액이 부족합니다.")
    
print("현재 잔액은 " + str(account) + "원 입니다.") # 그런데 매번 str로 형변환 하는게 귀찮다?

insert draw money : 2000
2000원이 인출 되었습니다.
현재 잔액은 8000원 입니다.

In [20]:
# string 데이터 타입의 format 함수
print("현재 잔액은" + account + "원 입니다.") # account -> str(account)로 형변환 해야 함. 귀찮음

TypeError: can only concatenate str (not "int") to str

In [24]:
# string 데이터 타입의 format 함수 : .format(variable)

print("현재 잔액은 " + str(account) + " 원 입니다.") # 형변환을 하거나
# string 데이터 타입 format 함수를 사용한다 : {}에 해당 변수가 입력된다
print("현재 잔액은 {} 원 입니다. 인출금액은 {} 입니다.".format(account, draw_money))
print("현재 잔액은 {data1} 원 입니다. 인출금액은 {data2} 입니다.".format(data1 = account, data2 = draw_money))

현재 잔액은 8000 원 입니다.
현재 잔액은 8000 원 입니다. 인출금액은 2000 입니다.
현재 잔액은 8000 원 입니다. 인출금액은 2000 입니다.

### 삼항연산자
- 간단한 if, else 구문을 한 줄의 코드로 표현할 수 있는 방법
- (True) if (condition) else (False)

In [25]:
# data 변수에 0이면, "zero" 출력, 아니면 "not zero" 출력

data = 1

if data:
    print("not zero")
else:
    print("zero")

not zero

In [27]:
data = 0
result = "not zero" if data else "zero"
result

'zero'

### 2. 반복문
- 반복되는 코드를 실행할 때 사용
- while, for, break, continue
- list comprehention

#### while

In [29]:
# while
data = 3

while data: # 조건이 False가 될때까지 구문의 코드를 실행
    print(data)
    data -= 1

3
2
1

#### 반복문 문제1 :
- 학생이 국어:80점, 영어:90점, 수학:100점 while 문을 이용하여 총점과 평균을 출력
- 학생의 점수는 list, dict 표현
- len(), dict.values(), list.pop()

In [31]:
subjects_ls = ["korean", "english", "math"]
points_ls = [80, 90, 100]
points_dict = {"korean": 80, "english": 90, "math": 100}

In [37]:
# 풀이
total, avg = 0, 0
datas = points_ls.copy() # 깊은 복사 : 원본데이터를 보존

while datas:
    total += datas.pop()
avg = total / len(points_ls)
total, avg

(270, 90.0)

In [38]:
# 무한루프
result = 1
while result:
    result += 1 # 이렇게 하면 False가 나오지 않음
print(result)

KeyboardInterrupt:

In [39]:
# 무한루프
# break : 반복문을 중단 시킬 때 사용되는 예약어
result = 1
while result:
    
    if result >= 10:
        break
    
    result += 1
    
print(result)

10

#### for
- iterable한 값을 하나씩 꺼내서 value에 대입시킨 후 코드를 iterable 변수의 값 갯수만큼 실행
```
for <variable> in <iterables>
    <code>
```

In [41]:
# for : continue : 조건부분으로 올라가서 코드가 실행
ls = [0, 1, 2, 3, 4]
for data in ls:
    print(data)

0
1
2
3
4

In [43]:
ls = [0, 1, 2, 3, 4]
for data in ls:
    
    if data % 2: # data가 홀수가 되면 continue 실행
        continue
        
    # data가 짝수이면 print 실행
    print(data, end=" ")

0 2 4

In [44]:
# for를 이용하여 코드를 100번 실행
# range 함수
list(range(100)) # range 함수는 다른 데이터 타입이기 때문에 list로 형변환 해줘야 한다
result = 0

for data in range(100):
    result += data

result

4950

In [45]:
range(100)

range(0, 100)

In [48]:
# offset index 개념과 비슷하게 사용
list(range(5)), list(range(5, 10)), list(range(0, 10, 2))

([0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [0, 2, 4, 6, 8])

In [49]:
# 0~10 까지 짝수를 더한 총합
result = 0
for number in range(0, 11, 2):
    result += number
result

30

In [50]:
points_dict = {"korean": 80, "english": 90, "math": 100}

In [51]:
for data in points_dict: # dict 데이터 타입을 for문에 넣을 경우엔 key 값만 출력됨
    print(data)

korean
english
math

In [52]:
# dict 데이터 타입의 함수 items() : dict 데이터 타입의 key값과 value값을 묶어줌
list(points_dict.items())

[('korean', 80), ('english', 90), ('math', 100)]

In [53]:
for subject, points in points_dict.items():
    print(subject, points)

korean 80
english 90
math 100

In [58]:
list(zip(subjects_ls, points_ls))

[('korean', 80), ('english', 90), ('math', 100)]

In [57]:
# for문에서 iterable 데이터가 tuple로 나오면 여러개의 변수로 받을 수 있다. dictionary같이 item()함수로 안묶어줘도 됨
subjects_ls = ["korean", "english", "math"]
point_ls = [80, 90, 100]
for subject, point in zip(subjects_ls, points_ls):
    print(subject, point)

korean 80
english 90
math 100

In [55]:
# tuple
a, b = (1, 2)
a, b

(1, 2)

#### 반복문 문제2 : 구구단 출력(가로 출력)
- 이중 for문
- print : end="\t"
- string : format
```
2*1=2  3*1=3  ...  9*1=9
...
2*9=18 3*9=27 ...  9*9=81
```

In [85]:
# 내 풀이

cols_ls = [range(1, 10)]
rows_ls = [range(1, 10)]

for col in range(1,10):
    for row in range(1, 10):
        print("{}*{}={}".format(row, col, col*row), end="\t")
        
    print("\n")

1*1=1	2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9

1*2=2	2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18

1*3=3	2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27

1*4=4	2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36

1*5=5	2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45

1*6=6	2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54

1*7=7	2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63

1*8=8	2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72

1*9=9	2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

In [86]:
# 풀이
for num2 in range(1, 10):
    for num1 in range(2, 10):
        print("{}*{}={}".format(num1, num2, num1*num2), end="\t")
    print()

2*1=2	3*1=3	4*1=4	5*1=5	6*1=6	7*1=7	8*1=8	9*1=9
2*2=4	3*2=6	4*2=8	5*2=10	6*2=12	7*2=14	8*2=16	9*2=18
2*3=6	3*3=9	4*3=12	5*3=15	6*3=18	7*3=21	8*3=24	9*3=27
2*4=8	3*4=12	4*4=16	5*4=20	6*4=24	7*4=28	8*4=32	9*4=36
2*5=10	3*5=15	4*5=20	5*5=25	6*5=30	7*5=35	8*5=40	9*5=45
2*6=12	3*6=18	4*6=24	5*6=30	6*6=36	7*6=42	8*6=48	9*6=54
2*7=14	3*7=21	4*7=28	5*7=35	6*7=42	7*7=49	8*7=56	9*7=63
2*8=16	3*8=24	4*8=32	5*8=40	6*8=48	7*8=56	8*8=64	9*8=72
2*9=18	3*9=27	4*9=36	5*9=45	6*9=54	7*9=63	8*9=72	9*9=81

### 3. List Comprehention
- 리스트 데이터를 만들어주는 방법
- for문 보다 빠르게 동작함 (for문의 2/3 시간이 걸림)

In [89]:
# 각 값에 제곱함 결과 출력
ls = [0, 1, 2, 3]
result = []

for data in ls:
    result.append(data**2)
    
result

[0, 1, 4, 9]

In [91]:
result = [data**2 for data in ls]
result

[0, 1, 4, 9]

In [92]:
# 리스트 컴프리헨션을 써서 홀수와 짝수를 리스트로 출력해주는 코드
# 삼항연산 사용
ls = [0, 1, 2, 3]
# result = ["짝수", "홀수", "짝수", "홀수"]

result = [
    "홀수" if data % 2 else "짝수"
    for data in ls
]
result

['짝수', '홀수', '짝수', '홀수']

In [93]:
# 리스트 컴프리헨션 조건문
ls = range(10)
[data for data in ls if data % 2]

[1, 3, 5, 7, 9]

In [97]:
ls = [1, 2, 3]
[func for func in dir(ls) if func[:2] != "__" and func[0] == "c"]

['clear', 'copy', 'count']

In [98]:
# for문과 list comprehention 성능 비교

In [106]:
%%timeit
ls = []
for num in range(1,10001):
    if num % 3 == 0:
        ls.append(num)
len(ls)

1.5 ms ± 5.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [107]:
%%timeit
ls = [num for num in range(1, 10001) if num % 3 == 0]
len(ls)

1.29 ms ± 7.72 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)